* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family:  Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family:  Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:980px;
}
@font-face {
    font-family: 'product_sansbold';
    src: url('../fonts/product_sans_bold-webfont.woff2') format('woff2'),
         url('../fonts/product_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'product_sansregular';
    src: url('../fonts/product_sans_regular-webfont.woff2') format('woff2'),
         url('../fonts/product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
#spotlight {
	padding: 140px 0;
	background: #3da5e4;
}
#spotlight div.slider {
	padding: 30px 80px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#spotlight div.slider div.slide {
	width: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 30px;
	background: #fff;
	border-radius: 8px;
	margin-right: 20px;
	padding: 30px;
}
#spotlight div.slider div.slide div.top {

}
#spotlight div.slider div.slide div.top div.img-container {
	width: 50%;
	margin: 0 auto 20px;
}
#spotlight div.slider div.slide div.top div.img-container img {
	width: 100%;
	display: block;
}
#spotlight div.slider div.slide div.middle {
	text-align: center;
	margin-bottom: 20px;
}
#spotlight div.slider div.slide div.middle p {
	width: 80%;
	margin: 0 auto;
}
#spotlight div.slider div.slide div.bottom {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
#spotlight div.slider div.slide div.bottom div.user {
	margin-bottom: 10px;
}
#spotlight div.slider div.slide div.bottom div.user img {
	display: block;
	width: 100%;
}
#spotlight div.slider div.slide div.bottom span {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 600;
}
#spotlight div.slider div.slide div.bottom small {
	font-size: 14px;
	font-weight: 600;
}



